.bookingsContainer {
  position: absolute;
  color: white;
  top: 20vh;
  height: 80vh;
  width: 100vw;
  border-top: 2px solid rgb(30, 145, 139);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  text-decoration: none;
}

.booking_holder {
  border: 3px solid rgb(30, 145, 139);
  width: 40vw;
  border-radius: 15px;
  object-fit: fill;
  margin: 10px;
  text-decoration: none;
}

.dates {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.start_date,
.end_date {
  /* border: 1px solid white; */
}

.booked_car {
  width: 100%;
  object-fit: fill;
  overflow: hidden;
  text-decoration: none;
}

.someName {
  overflow: hidden;
  text-decoration: none;
}

.rented_name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8%;
  text-decoration: none;
}

.bookings_header {
  position: absolute;
  top: 8vh;
}

.bookings {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
