.carDisplay__carPage {
  width: 500px;
}

.title,
.title__addon {
  font-weight: bold;
  font-size: 16px;
}

.reviewContainer {
  border: 1px solid rgb(191, 191, 191);
  max-width: 550px;
  padding: 0px;
  color: rgb(191, 191, 191);
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 -2px 10px white;
}

.carRentee {
  color: rgb(191, 191, 191);
  display: flex;
  justify-content: center;
}

.carPageHolder {
  /* border: 1px solid white; */
  position: relative;
  top: 7vh;
  display: flex;
  flex-direction: column;
}

.carDetails {
  width: 50vw;
}

.carDetails > li {
  font-size: 18px;
}

.deleteCar {
  border-radius: 5px;
  outline: none;
  color: black;
  border: 0px;
  padding: 8px;
  margin: 1px;
  font-weight: bold;
}

.deleteCar:hover {
  cursor: pointer;
  background-color: rgb(7, 7, 131);
  transition: 0.5s;
  color: white;
}

.carReviews {
  border: 0.5px solid rgb(191, 191, 191);
  color: rgb(191, 191, 191);
}

.rentCarr {
  border: 1px solid rgb(191, 191, 191);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  background-color: rgb(191, 191, 191);
  border-radius: 5px;
  color: black;
  box-shadow: 0 -2px 10px white;
}

.rentCarr > input {
  margin: 5px;
}

.reviewForm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid rgb(191, 191, 191);
  background-color: rgb(191, 191, 191);
  color: black;
  border-radius: 5px;
  box-shadow: 0 -2px 10px white;
}

.reviewFormm > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6px;
}

.car_div_1 {
  border: 5px solid red;
}
.car_div_2 {
  border: 5px solid blue;
  display: flex;
  width: 100vw;
}
.car_div_3 {
  border: 5px solid green;
}

.rent_car_div {
  width: 50vw;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
