.signUpForm {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	width: 350px;
	border: 1px solid black;
	position: relative;
	left: 550px;
	margin-top: 125px;
	box-shadow: 0 -2px 10px white;
	border-radius: 3px;
	color: black;
}

.signUpButton__signup {
	display: flex;
	justify-content: center;
	/* border: 1px solid black; */
	margin-top: 15px;
}

.homeButton__signup,
.signupButton__signup {
	text-decoration: none;
	padding: 10px;
}
