.signUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px;
}

.signUpButton__signup {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.homeButton__signup,
.signupButton__signup {
  text-decoration: none;
  padding: 10px;
}
