.searchMap {
	position: absolute;
	top: 9%;
	right: 5%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 275px;
	z-index: 10;
}

.searchMap input {
	padding: 5px;
	font-size: 24px;
	width: 100%;
}

.locate {
	position: absolute;
	max-width: 30px;
	z-index: 10;
	top: 75px;
	right: 2%;
	background: none;
	border: none;
}

.locate img {
	width: 30px;
	cursor: pointer;
}

.mapContainer {
	display: flex;
	justify-content: space-between;
}
