.carDisplay__mapsPage {
  width: 400px;
}

.carLinks__maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 93vh;
  overflow-y: scroll;
  width: 50vw;
  background-color: black;
}
.carLinks__maps::-webkit-scrollbar {
  width: 10px;
}

.carLinks__maps::-webkit-scrollbar-thumb {
  background: linear-gradient(#265077, transparent);
  border-radius: 6px;
}

.carScroll {
  position: relative;
  top: 7vh;
}

.cardsContainer__mapPage {
  display: flex;
  border: 2px solid #265077;
  margin: 10px;
  border-radius: 10px;
  width: 675px;
  overflow: hidden;
  transition: transform 100ms ease-in;
  cursor: pointer;
  box-shadow: 0 -1px 5px white;
  color: black;
  text-decoration: none;
  background-color: #022140;
}

.cardsContainer__mapPage:hover {
  transform: scale(1.02);
}

.cardsContainer__mapPage > li {
  padding: 5px;
  text-decoration: none;
}

.links {
  text-decoration: none;
  margin: 6px;
}

.car_map_info {
  /* display: flex; */
  color: #51a09e;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.car_map_info > div {
  padding-bottom: 10px;
}

.carmap_info {
  width: 100%;
}

.booking_holder {
  color: #51a09e;
  font-weight: bold;
  font-size: 20px;
}
