.userProfilePic {
	width: 175px;
}

.profileContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	top: 205px;
	left: 31%;
	color: white;
	width: 35%;
	box-shadow: 0 -2px 10px white;
	padding: 5px;
	border-radius: 5px;
	font-size: 20px;
}

.profileContainer > div {
	margin: 2.5px;
}

.profileContainer > img {
	margin: 5px;
}
