.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #51a09e;
}

.logRedirects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.loginButton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.homeButton__login,
.signupButton__login {
  text-decoration: none;
  padding: 10px;
}

.DemoContainer {
  position: relative;
}

.login__holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__text {
  font-weight: bold;
  font-size: 18px;
}
