body {
	margin: 0px;
}

.navbar {
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	/* padding: 0px 10px 0px 10px; */
	align-items: center;
	border-bottom: 1px solid white;
	background-color: black;
	color: white;
	z-index: 1000;
	position: fixed;
	width: 100%;
}

.navLinks {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.homeButton,
.login,
.signUp {
	text-decoration: none;
	padding: 0px 5px;
}

.logo {
	width: 120px;
	margin-top: 2px;
	position: relative;
	top: 2px;
}
