body {
  margin: 0px;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid white; */
  background-color: #022140;
  color: #265077;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 60px;
  box-shadow: 0 -2px 5px white;
  padding: 7px;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-right: 5px;
}

.homeButton,
.login,
.signUp {
  text-decoration: none;
  padding: 0px 5px;
}

.logo {
  width: 130px;
  margin-left: 2px;
  position: relative;
  top: 2px;
}

.navbarCenter {
  display: flex;
}

.hostCar {
  border-radius: 25% 10%;
  background-color: black;
  padding: 11px;
  font-size: 15px;
  font-weight: bold;
  color: #51a09e;
  outline: none;
  border: none;
  margin: 1px;
  transition: 0.5s ease-in-out;
}

.rentCar {
  border-radius: 10% 25%;
  padding: 11px;
  background-color: black;
  font-weight: bold;
  font-size: 15px;
  color: #51a09e;
  outline: none;
  border: none;
  margin: 1px;
  transition: 0.5s ease-in-out;
}

.rentCar:hover {
  cursor: pointer;
  background-color: #265077;
}

.hostCar:hover {
  cursor: pointer;
  background-color: #265077;
}

.logoutButton,
.bookingsButton,
.profileButton,
.login__button,
.signup__button,
.rentCar__button,
.submitReview__button,
.login_button,
.signUpButton_signup {
  border-radius: 10px;
  outline: none;
  color: #51a09e;
  background-color: black;
  border: 0px;
  padding: 9px;
  margin: 3px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease-in-out;
}

.logoutButton:hover,
.bookingsButton:hover,
.profileButton:hover,
.login__button:hover,
.signup__button:hover,
.rentCar__button:hover,
.submitReview__button:hover,
.login_button:hover,
.signUpButton_signup:hover {
  cursor: pointer;
  background-color: #265077;
}

.login_signup_container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.home {
  text-decoration: none;
  color: #51a09e;
  font-size: 14px;
  font-weight: bold;
}
